In [1]:
import sys
sys.path.append('../')

In [2]:
path1 = "/Users/Jon/Developer/workspace/tbi/opendbm/open_dbm/sample_data/subj02_timepoint01.mp4"
path2 = "/Users/Jon/Developer/workspace/tbi/opendbm/open_dbm/sample_data/subj02_timepoint01.wav"
path3 = "/Users/Jon/Developer/workspace/tbi/opendbm/open_dbm/sample_data/subj01_timepoint02.wav"

In [3]:
# Audio Testing
from opendbm.verbal_accoustics import VoicePrevalence
m = VoicePrevalence()
m.fit_transform(path2)

,aco_voiceframe,aco_totvoiceframe,aco_voicepct,error_reason,Frames,dbm_master_url
0,79,496,15.927419,Pass,0,/Users/Jon/Developer/workspace/tbi/opendbm/ope...

In [4]:
# Audio Testing
from opendbm.verbal_accoustics import PauseCharacteristics
m = PauseCharacteristics()
m.fit_transform(path2)

INFO:root:Converting stereo sound to mono-lD

,aco_totaltime,aco_speakingtime,aco_numpauses,aco_pausetime,aco_pausefrac,error_reason,dbm_master_url
0,2.9,2.12,1,0.78,0.268966,Pass,/Users/Jon/Developer/workspace/tbi/opendbm/ope...

In [5]:
# Audio Testing
from opendbm.verbal_accoustics import Shimmer
m = Shimmer()
m.fit_transform(path2)

,Frames,aco_shimmer,error_reason,dbm_master_url
0,NaN,NaN,error: fundamental freq not available,/Users/Jon/Developer/workspace/tbi/opendbm/ope...

In [7]:
# Audio Testing
from opendbm.verbal_accoustics import Jitter
m = Jitter()
m.fit_transform(path2)

,Frames,aco_jitter,error_reason,dbm_master_url
0,NaN,NaN,error: fundamental freq not available,/Users/Jon/Developer/workspace/tbi/opendbm/ope...

In [3]:
# Audio Testing
from opendbm.verbal_accoustics import GlottalNoiseRatio
m = GlottalNoiseRatio()
m.fit_transform(path2)

,Frames,aco_gne,error_reason,dbm_master_url
0,NaN,NaN,error: pitch freq not available,/Users/Jon/Developer/workspace/tbi/opendbm/ope...

In [6]:
# Audio Testing
from opendbm.verbal_accoustics import HarmonicsNoiseRatio
m = HarmonicsNoiseRatio()
m.fit_transform(path2)

,aco_hnr,Frames,dbm_master_url,error_reason
0,NaN,0,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
1,NaN,1,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
2,NaN,2,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
3,NaN,3,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
4,NaN,4,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
...,...,...,...,...
4961,NaN,4961,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
4962,NaN,4962,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
4963,NaN,4963,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
4964,NaN,4964,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
4965,NaN,4965,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass

In [3]:
# Audio Testing
from opendbm.verbal_accoustics import FormantFrequency
m = FormantFrequency()
m.fit_transform(path2)

,aco_fm1,aco_fm2,aco_fm3,aco_fm4,error_reason,Frames,dbm_master_url
0,NaN,NaN,NaN,NaN,Pass,0,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
1,NaN,NaN,NaN,NaN,Pass,1,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
2,NaN,NaN,NaN,NaN,Pass,2,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
3,NaN,NaN,NaN,NaN,Pass,3,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
4,NaN,NaN,NaN,NaN,Pass,4,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
...,...,...,...,...,...,...,...
4964,866.606512,2008.699254,2861.235021,4045.568591,Pass,4964,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
4965,874.661040,1994.873464,2903.789001,4109.787584,Pass,4965,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
4966,881.650335,1979.011524,2927.158220,4180.676927,Pass,4966,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
4967,NaN,NaN,NaN,NaN,Pass,4967,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
4968,NaN,NaN,NaN,NaN,Pass,4968,/Users/Jon/Developer/workspace/tbi/opendbm/ope...

In [3]:
# Audio Testing
from opendbm.verbal_accoustics import PitchFrequency
m = PitchFrequency()
m.fit_transform(path2)

      aco_ff  ...                                     dbm_master_url
0        0.0  ...  /Users/Jon/Developer/workspace/tbi/opendbm/ope...
1        0.0  ...  /Users/Jon/Developer/workspace/tbi/opendbm/ope...
2        0.0  ...  /Users/Jon/Developer/workspace/tbi/opendbm/ope...
3        0.0  ...  /Users/Jon/Developer/workspace/tbi/opendbm/ope...
4        0.0  ...  /Users/Jon/Developer/workspace/tbi/opendbm/ope...
...      ...  ...                                                ...
4948     0.0  ...  /Users/Jon/Developer/workspace/tbi/opendbm/ope...
4949     0.0  ...  /Users/Jon/Developer/workspace/tbi/opendbm/ope...
4950     0.0  ...  /Users/Jon/Developer/workspace/tbi/opendbm/ope...
4951     0.0  ...  /Users/Jon/Developer/workspace/tbi/opendbm/ope...
4952     0.0  ...  /Users/Jon/Developer/workspace/tbi/opendbm/ope...

[4953 rows x 5 columns]

In [3]:
# Audio Testing
from opendbm.verbal_accoustics import AudioIntensity
m = AudioIntensity()
m.fit_transform(path2)

,aco_int,Frames,dbm_master_url,error_reason
0,43.142935,0,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
1,43.380826,1,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
2,43.594055,2,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
3,43.774091,3,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
4,43.920773,4,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
...,...,...,...,...
4924,45.583699,4924,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
4925,45.495168,4925,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
4926,45.407569,4926,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
4927,45.322068,4927,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
4928,45.246612,4928,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass